body {
    background: #1A1A1A;
    color: #F2F2F2;
    font-size: 16px;
    font-family: "Inter", system-ui;
    font-weight: 400;
    font-style: normal;
}

input {
    outline: none;
    font-family: "Inter", system-ui;
}

button {
    border: none;
}
@import url('https://fonts.googleapis.com/css2 ?family=Inter&display=swap');
