body {
    background: #1A1A1A;
    color: #F2F2F2;
    font-size: 16px;
    font-family: "Inter", system-ui;
    font-weight: 400;
    font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
    outline: none;
    font-family: "Inter", system-ui;
}

button {
    border: none;
}

.container {
  max-width: 736px;
  margin: 0 auto;
}

.body {
  display: flex;
  align-items: stretch;
  gap: 8px;
  transform: translateY(-50%);
}
@import url('https://fonts.googleapis.com/css2 ?family=Inter&display=swap');



@media (max-width: 860px) {
  .container {
    margin: auto 20px;
  }
}

@media (max-width: 510px) {
  .header {
    font-size: 30px;
  }

  .todo-header {
    font-size: 10pt;
  }

  .list-item {
    font-size: 10pt;
  }

}

@media (max-width: 440px) {
  .body {
    flex-direction: column;
    transform: translate(0);
    margin-bottom: 30px;
  }
  .todo-header {
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
  }

}